<%- include("partials/header.ejs") %>
  <div class="bg">
  <div class="hero">
    <div class="container">
    <div class="herotext1">
      <p>classsikh</p>
    </div>
    <div class="herotext2">
      <p>todo</p>
    </div>
  </div>
  </div>

</div>
  <%- include("partials/footer.ejs") %>
